/* FOOTER */
footer {
    color: var(--color-grisOscuro);
    text-align: center;
}
footer div{
    margin: 15px;
}
footer h5 {
    font-size:var(--descripciones);
    font-weight: bold;
}

footer p {
    font-size: var(--cuerpos-texto);
}

#icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-celeste);

}
#copyright {
    font-size: 10px;
    text-align: left;
    color: var(--color-grisOscuro);
}