:root {/* variables en css */
    /* COLORES */
    --color-amarillo : #eac926;
    --color-azul: #03264c;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;

    /* FUENTES */
    --font-roboto: 'Roboto', sans-serif;

    /* TIPOGRAFIAS */
    --cuerpos-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}
* {
    margin:0%;
}
body {
    font-family: var(--font-roboto);
    background-color: var(--color-grisClaro);
}
header {
    background-color: var(--color-amarillo);
    padding-bottom: 15px;
    font-size: var(--cuerpos-texto);
}

header .logo {
    width: 130px;
    margin-left: 25px;
    padding-top: 25px;
    margin-bottom: 10px;
}
header .burger-menu {
    color: white;
    background-color: var(--color-celeste);
    padding: 7px;
    width: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px ;
    margin: auto;
}

 .ml-15 {
    margin-left: 15px;
    display: inline-block;
}

#top-list{
    margin-bottom: 10px;
}

header a {
    color: black;
    text-decoration: none;
    text-align: left;
    line-height: 15px;
}

header p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
nav{
    display: none;
}
h3 {
    font-size: var(--descripciones);
}
h2 {
    font-size: var(--titulares);
}

header ul {
    padding-inline-start: 0px;
}

.precio{
    font-size: var(--precios);
}

.descuento{
    font-size: var(--descuentos);
}

/* MAIN */

main {
    margin: 0 auto;
    width: 90%;
}
.card {
    background-color: white;
    margin-bottom: 10px;
}
.card .card-content {
    border-top: 1px solid var(--color-grisClaro);
}
.card .card-content .icono-truck {
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    width: fit-content;
    padding: 10px;
}
.card .card-content .icono-truck i {
    color: var(--color-verde);

}
.card .card-content h3 {
    display: none;
}
/* FOOTER */
footer {
    color: var(--color-grisOscuro);
    text-align: center;
}
footer div{
    margin: 15px;
}
footer h5 {
    font-size:var(--descripciones);
    font-weight: bold;
}

footer p {
    font-size: var(--cuerpos-texto);
}

#icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-celeste);

}
#copyright {
    font-size: 10px;
    text-align: left;
    color: var(--color-grisOscuro);
}
/* Media Queries */
/* Tablet */
@media screen and (min-width: 361px ){
    .card {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .card .card-content h3 {
        display: block;
    }
    nav {
        display: block;
    }
    .burger-menu {
        display: none;
    }
}
/* Desktop */
@media screen and (min-width: 769px ){
   
}