:root {/* variables en css */
    /* COLORES */
    --color-amarillo : #eac926;
    --color-azul: #03264c;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;

    /* FUENTES */
    --font-roboto: 'Roboto', sans-serif;

    /* TIPOGRAFIAS */
    --cuerpos-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}